# Ignore ESP32 build configuration files, which may contain secrets!
**/sdkconfig*
!**/sdkconfig.defaults

# Probably want to lock this down somehow.
**/managed_components
**/dependencies.lock

# Ignore ESP32 build output
build/
.vscode/
