menu "UART Relay Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config ENV_UART_GPIO_RANGE_MAX
        int
        default 21
        # GPIOs 20/21 are always used by UART in examples

    config EXAMPLE_UART0_PORT_NUM
        int "UART port A number"
        range 0 2 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
        default 1 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
        range 0 1 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32H2
        default 0 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32H2
        help
            UART communication port number for the example.
            See UART documentation for available port numbers.

    config EXAMPLE_UART1_PORT_NUM
        int "UART port B number"
        range 0 2 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
        default 2 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
        range 0 1 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32H2
        default 1 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32H2
        help
            UART communication port number for the example.
            See UART documentation for available port numbers.

    config EXAMPLE_UART_BAUD_RATE
        int "UART communication speed"
        range 1200 115200
        default 115200
        help
            UART communication speed for Modbus example.

    config EXAMPLE_UART0_RXD
        int "UART RXD A pin number"
        range ENV_GPIO_RANGE_MIN ENV_UART_GPIO_RANGE_MAX
        default 20
        help
            GPIO number for UART A RX pin. See UART documentation for more information
            about available pin numbers for UART.

    config EXAMPLE_UART0_TXD
        int "UART TXD A pin number"
        range ENV_GPIO_RANGE_MIN ENV_UART_GPIO_RANGE_MAX
        default 21
        help
            GPIO number for UART A TX pin. See UART documentation for more information
            about available pin numbers for UART.

    config EXAMPLE_UART1_RXD
        int "UART RXD B pin number"
        range ENV_GPIO_RANGE_MIN ENV_UART_GPIO_RANGE_MAX
        default 19
        help
            GPIO number for UART B RX pin. See UART documentation for more information
            about available pin numbers for UART.

    config EXAMPLE_UART1_TXD
        int "UART TXD B pin number"
        range ENV_GPIO_RANGE_MIN ENV_UART_GPIO_RANGE_MAX
        default 18
        help
            GPIO number for UART B TX pin. See UART documentation for more information
            about available pin numbers for UART.

    config EXAMPLE_TASK_STACK_SIZE
        int "UART echo example task stack size"
        range 1024 16384
        default 4096
        help
            Defines stack size for UART echo example. Insufficient stack size can cause crash.

endmenu
