<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cloudsmets.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9790ad06-2643-449f-8948-6a8b326e30aa/resourcegroups/CloudSMETS/providers/Microsoft.Web/sites/CloudSMETS</ResourceId>
    <UserName>$CloudSMETS</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cloudsmets.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>