body {
  text-align: center;
  font-family: Arial;
  font-size: 13px;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: left;
}

input {
  width: 256;
}

.submit {
  width: 64;
}

.factory_submit {
  width: 96;
}

div.warning {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  width: 256;
  margin: auto;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
}

.ipaddr {
  width: 128;
}

.ipport {
  width: 64;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #f0f0f0;
  /* font-family: Arial; */
}

.menu {
  width: max-content;
  margin: auto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  border: 1px solid #858585;
  border-radius: 3px;
  padding: 2px 8px;
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: 1px solid #858585;
  border-radius: 3px;
  outline: none;
  color: black;
  /* padding: 14px 16px; */
  padding: 2px 8px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  font-size: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #858585;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  /* padding: 12px 16px; */
  padding: 2px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f0f0f0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}